{% extends 'shop/main.html' %} {% block content %} {% load static %}
<section id="about" class="section-p1 mar-100">
  <!-- Image illustrating the about section -->
  <img src="{% static 'images/about/a6.jpg' %}" alt="about image" />
  <!-- Content describing the team and its mission -->
  <div>
    <h2>About Us</h2>
    <p>
      We are a team of developers who are passionate about creating a platform
      that allows users to buy and sell products. We are dedicated to providing
      the best user experience and customer service. Our goal is to make
      shopping easy and convenient for everyone. We are constantly working to
      improve our platform and add new features to make it even better. We hope
      you enjoy using our platform and we look forward to hearing your feedback.
    </p>
  </div>
</section>

{% endblock content %}
