.DS_Store
.vscode/
shop/__pycache__/
authentication/__pycache__/
shoppie/__pycache__/
tests/__pycache__/
htmlcov/
__pycache__/
.pytest_cache/
.coverage
.env
/venv/
db.sqlite3
authentication/migrations/
shop/migrations/
Admin_dashboard/__pycache__/
Admin_dashboard/migrations/
media/
.mailmap
/templates/


