{% extends 'Admin_dashboard/admin_page.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin_dashboard/customerlist.css' %}"></link>
</head>
<body>
    <div class="container">
        <h1 class="child-title">Customer List</h1>
        <ul>
            {% for customer in customers %}
                <li>
                    <div class="child-list">{{ customer.first_name }}</div>
                    <div class="customer-details" style="display: none;">
                        <a href="{% url 'customer_edit' customer.id %}">
                            <span class="cild-icon"><ion-icon name="eye-outline"></ion-icon></span>
                         </a>
                        <p><strong>Last name:</strong> {{ customer.last_name}}</p>
                        <p><strong>Email:</strong> {{ customer.email}}</p>
                        <form action="{% url 'customer_delete' pk=customer.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete Customer</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        <!-- Button to create a new business -->
        <a href="{% url 'customer_create' %}" class="create-customer-button">Create New Customer</a>
    </div>
    <script>
        document.querySelectorAll('.customer-details').forEach(item => {
            item.previousElementSibling.addEventListener('click', () => {
                item.style.display = (item.style.display === 'none') ? 'block' : 'none';
            });
        });
    </script>
</body>
</html>
{%endblock%}