{% extends 'Admin_dashboard/admin_page.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Customer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'admin_dashboard/create.css' %}"></link>
</head>
<body>
    <div class="container">
         <h1>Create New Customer</h1>
    <form action="{% url 'customer_create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Customer</button>
    </form>
    </div>
</body>
</html>
{%endblock%}